java-api/out
java-api/target
java-r5/target
r-package/.Rproj.user
r-package/.Rhistory
R5.jar
r5r_core.jar
java-r5/.idea/libraries
.Rproj.user
.Rhistory
r5r.Rcheck
*.tar.gz
network.dat
poa_osm.pbf.mapdb
poa_osm.pbf.mapdb.p
/r-package/inst/extdata/spo/spo_osm.pbf.mapdb
/r-package/inst/extdata/spo/spo_osm.pbf.mapdb.p
