java-api/out
java-api/target
java-r5/target
r-package/.Rproj.user
r-package/.Rhistory
R5.jar
r5r_core.jar
java-r5/.idea/libraries
.Rproj.user
.Rhistory
r5r.Rcheck
*.tar.gz
network.dat
poa_osm.pbf.mapdb
poa_osm.pbf.mapdb.p
/r-package/inst/extdata/spo/spo_osm.pbf.mapdb
/r-package/inst/extdata/spo/spo_osm.pbf.mapdb.p
java-r5rcore/out/artifacts/r5r_jar/r5r.jar
java-r5rcore/out/production/r5r/org/ipea/r5r/DetailedItineraryPlanner.class
java-r5rcore/out/production/r5r/org/ipea/r5r/R5RCore.class
java-r5rcore/out/production/r5r/org/ipea/r5r/RDataFrame.class
java-r5rcore/out/production/r5r/org/ipea/r5r/TravelTimeMatrixComputer.class
java-r5rcore/out
java-r5rcore/libs
