<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <!-- Define LOG_PATH using DATA_PATH with fallback to current dir -->
    <property name="LOG_PATH" value="${LOG_PATH:-./r5r-log.log}" />

    <appender name="RFILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger - %msg%n</pattern>
        </encoder>
        <append>false</append>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="RFILE"/>
    </root>

</configuration>
