name: CI

on:
  push:
    paths:
      - java-r5rcore/**
      - r-package/**
      - .github/workflows/**

jobs:
  build-jar:
    env:
      GH_TOKEN: ${{ github.token }}

    runs-on: ubuntu-latest

    # don't build on merges to master
    if: ${{ !github.ref_protected }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
#        with:
#          use-public-rspm: true # this no longer works as of September 2025

      - name: Install R packages
        run: |
          # this specification is necessary for some reason as of September 2025
          options(repos = c(CRAN = "https://packagemanager.posit.co/cran/__linux__/noble/latest"))
          install.packages(c('devtools', 'remotes'))
          remotes::install_deps(dependencies = TRUE)
        shell: Rscript {0}
        working-directory: r-package

      - name: Install system dependencies
        run: |
          while read -r cmd
          do
            eval sudo $cmd
          done < <(Rscript -e 'writeLines(remotes::system_requirements("ubuntu", "20.04"))')
        working-directory: r-package

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v2
      - name: Build with Gradle
        uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
        with:
          arguments: build
          build-root-directory: java-r5rcore

      - name: Create pull request
        # https://github.com/actions/checkout/pull/1184
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          mv java-r5rcore/build/libs/java-r5rcore-*.jar r-package/inst/jar/r5r.jar
          git add r-package/inst/jar/r5r.jar
          git commit -m "Rebuild JAR for commit ${GITHUB_SHA}"
          git push

  R-CMD-check:
    needs: build-jar

    runs-on: ${{ matrix.config.os }}

    name: R-CMD-check ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: macOS-latest, r: 'release'}
          - {os: ubuntu-22.04, r: 'devel', rspm: "https://packagemanager.rstudio.com/cran/__linux__/jammy/latest"}
          - {os: ubuntu-22.04, r: 'release', rspm: "https://packagemanager.rstudio.com/cran/__linux__/jammy/latest"}
          - {os: ubuntu-22.04, r: 'oldrel', rspm: "https://packagemanager.rstudio.com/cran/__linux__/jammy/latest"}

    env:
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-pandoc@v2

      # Java setup for macOS (using the proper arm64 architecture)
      - name: Java setup (macOS)
        if: runner.os == 'macOS'
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '21'
          architecture: arm64

      # Java setup for non-macOS runners
      - name: Java setup (non-macOS)
        if: runner.os != 'macOS'
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '21'

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
          working-directory: r-package

      - uses: r-lib/actions/check-r-package@v2
        with:
          working-directory: r-package

  R-CMD-check-CRAN:
    needs: build-jar

    runs-on: ${{ matrix.config.os }}

    name: R-CMD-check-CRAN

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-22.04, r: 'release', rspm: "https://packagemanager.rstudio.com/cran/__linux__/jammy/latest"}

    env:
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
          working-directory: r-package

      - uses: r-lib/actions/check-r-package@v2
        with:
          working-directory: r-package
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false
          NOT_CRAN: false

  test-coverage:
    needs: build-jar

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: r-lib/actions/setup-r@v2

      - name: Java setup
        uses: actions/setup-java@v1
        with:
          java-version: '21'
          java-package: jdk

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr, any::xml2
          needs: coverage
          working-directory: r-package

      - name: Sync to latest state of the branch, get jar
        run: |
          BRANCH="${GITHUB_REF#refs/heads/}"
          git fetch origin $BRANCH
          git checkout $BRANCH
          git pull origin $BRANCH

      - name: Test coverage
        run: |
          cov <- covr::package_coverage(
            quiet = FALSE,
            clean = FALSE,
            install_path = file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package")
          )
          covr::to_cobertura(cov)
        shell: Rscript {0}
        working-directory: r-package

      - uses: codecov/codecov-action@v4
        with:
          # Fail if error if not on PR, or if on PR and token is given
          fail_ci_if_error: ${{ github.event_name != 'pull_request' || secrets.CODECOV_TOKEN }}
          file: ./cobertura.xml
          plugin: noop
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}
          working-directory: r-package